<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="sidenav-header">
      <img src="/assets/vectors/mhclogo.svg" alt="Logo - White Hare Rabbit">
    </div>
    <mat-nav-list>
      <a mat-button routerLink="/home" class="large-button">Home</a>
      <a mat-button routerLink="/about" class="large-button">About</a>
      <a mat-button routerLink="/services" class="large-button">Services</a>
      <a mat-button routerLink="/gallery" class="large-button">Gallery</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>{{Company}}</span>

    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
