
    <mat-toolbar class="nav-header">
      
      <img src="assets/logosIcons/mhclogo.svg" alt="Logo" class="nav-logo">

      <span><h1>Mad Hare Consulting</h1></span>
    </mat-toolbar>


    <mat-sidenav-container class="nav-container">
      <mat-sidenav mode="side" opened class="nav-sidenav">
        <mat-nav-list>
          <mat-list-item>About</mat-list-item>
          <mat-list-item>Services</mat-list-item>
          <mat-list-item>Gallery</mat-list-item>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <h1>Content</h1>
      </mat-sidenav-content>
    </mat-sidenav-container>

