<mat-card class="service-card">
    <mat-card-header>
        <mat-card-title>
            <h1>Patios</h1>
        </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ImgUrl}}patio.jpg{{ImgEncode}}" alt="Patio">
    <mat-card-content>
        <p>Patios are a great way to add value to your home. They provide a place to relax and enjoy the outdoors. We offer a variety of patio options to fit your needs. Whether you are looking for a simple patio or a more elaborate design, we can help. Contact us today to learn more about our patio services.</p>
    </mat-card-content>
</mat-card>


<mat-card class="service-card">
    <mat-card-header>
        <mat-card-title>
            <h1>Fencing</h1>
        </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ImgUrl}}fence.jpg{{ImgEncode}}" alt="Fence">
    <mat-card-content>
        <p>We can work with you to find the perfect fencing to complement new or existing landscape features.</p>
    </mat-card-content>