
    <mat-grid-list cols="1" rowHeight="2:1">
        <mat-grid-tile>
            <mat-card class="welcome-card">
            <mat-card-header>
                <mat-card-title>
                <h1>Welcome</h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Thank you for visiting our site. We are a small business that specializes in providing quality services to our customers. We are dedicated to providing the best service possible and we are always looking for ways to improve our services. We hope you enjoy your visit and we look forward to working with you.</p>
            </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <app-login></app-login>
        </mat-grid-tile>

    </mat-grid-list>



