<mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card>
        <mat-card-header>
            <mat-card-title>
            <h1>Welcome</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <button mat-fab extended>
                <mat-icon>cached</mat-icon>
                Basic
              </button>
            <p>Thank you for visiting our site. We are a small business that specializes in providing quality services to our customers. We are dedicated to providing the best service possible and we are always looking for ways to improve our services. We hope you enjoy your visit and we look forward to working with you.</p>
        </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h1>Patios</h1>
                </mat-card-title>
            </mat-card-header>
            <div class="image-container">
                <img mat-card-image src="{{ImgUrl}}patio.jpg{{ImgEncode}}" alt="Patio">
            </div>
            <mat-card-content>
                <p>Patios are a great way to add value to your home. They provide a place to relax and enjoy the outdoors. We offer a variety of patio options to fit your needs. Whether you are looking for a simple patio or a more elaborate design, we can help. Contact us today to learn more about our patio services.</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>