@use '@angular/material' as mat;
@use './assets/themes/djs' as theme; // Make sure you are importing the generated theme file

// Define theme
$my-theme: mat.define-theme((
  color: (
    primary: theme.$primary-palette, // Reference from theme file
    tertiary: theme.$tertiary-palette, // Reference from theme file
    theme-type: dark,
  ),
));

// Apply theme globally
html {
  @include mat.all-component-themes($my-theme);
}
