@use '@angular/material' as mat;

:root {
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
  }
  
  button {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .theme-test {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    max-width: 600px;
  }
  
  .color-box {
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: var(--md-sys-color-on-surface);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .primary { background-color: var(--md-sys-color-primary); }
  .primary-container { background-color: var(--md-sys-color-primary-container); }
  .secondary { background-color: var(--md-sys-color-secondary); }
  .secondary-container { background-color: var(--md-sys-color-secondary-container); }
  .tertiary { background-color: var(--md-sys-color-tertiary); }
  .tertiary-container { background-color: var(--md-sys-color-tertiary-container); }
  .error { background-color: var(--md-sys-color-error); }
  .error-container { background-color: var(--md-sys-color-error-container); }
  .surface { background-color: var(--md-sys-color-surface); }
  .background { background-color: var(--md-sys-color-background); }
  